<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-cale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Simple sidebar - Login</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body class="align-middle">
    <div class="container-fluid d-flex justify-content-center" style="height: 100vh">
<!--        사이즈 %로 늘어남-->
        <div class="card align-self-center">
            <div class="card-header">
                Login Page
            </div>
            <div class="card-body">
                <th:block th:if="${param.logout !=null}">
                    <h1>Logout................</h1>
                </th:block>
                <form id = "registerForm" action="/member/login" method="post">
                    <div class="input-group mb-3">
                        <span class="input-group-text">ID</span>
                        <input type="text" name="username" class="form-control" placeholder="USER ID">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">PASSWORD</span>
                        <input type="text" name="password" class="form-control" placeholder="PASSWORD">
                    </div>
                    <div class="input-groupmb-3">
                        <input class="form-check-input" type="checkbox" name="remember-me">
                        <label class="form-check-label">자동 로그인</label>
                    </div>
                    <div class="my-4">
                        <div class="float-end">
                            <button type="submit" class="btn btn-primary submitBtn">Login</button>
                        </div>
                    </div>
                </form>
                <div>
<!--                    /oauth2/authorization/서드파티 서비스 이름 해당 href 로 가서 인증 정보를 받아서 한다-->
                    <a href="/oauth2/authorization/kakao">kakao</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>